
body {
  background-color:bisque
}

header{
    text-align: center;
}
h1 {
    
    color:#b166ee;
}
#aboutMe{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color:rgb(99, 37, 170);
}
#skills{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#8317db;
}
#hobbies{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(7, 50, 131);
}
section{
    color: #d31ebb;
}
table{
    font-size: large;
    background-color: #c5dddc;
}
.myFooter{
    color:rgb(85, 85, 221)
}
button {
    background-color: rgb(214, 216, 224);
    color:brown;
}